.header {
	height: 15%;
	border-top: 6px solid white;
	border-bottom: 6px solid white;
	margin: 0.5rem 0;
	display: flex;
	// justify-content: center;
	align-items: center;
	font-size: 3rem;
	img {
		height: 112px;
		width: 72px;
		opacity: 0.6;
		border-radius: 32px;
    margin-right: 16rem;
    margin-left: 7rem;
	}
}
